<!doctype html>
<html>
<head>
    <title>Google SignIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
<div class="container">
    <a href="/" class="fa fa-arrow-left" style="font-size: 28px"></a>
    <div class="jumbotron text-center">
        <h1 class="text-success">Edit profile</h1>
        <div class="w-50 mx-auto mt-3">
            <form method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="fullName" id="fullName" placeholder="Full name" value={{.FullName}}>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="address" id="address" placeholder="Address" value={{.Address}}>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="telephone" id="telephone" placeholder="Telephone" value={{.Telephone}}>
                </div>

                <div class="form-group">
                    {{if eq .AuthType "oauth"}}
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" value={{.Email}} disabled>
                    {{else}}
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" value={{.Email}}>
                    {{end}}
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>