<!doctype html>
<html>
<head>
    <title>Google SignIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="text-success  text-center"><span class="fa fa-user"></span> Profile Information</h1>
        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                    <p>
                        <strong>Email</strong>: {{.Email}}<br>
                        <strong>Name</strong>: {{.FullName}}<br>
                        <strong>Telephone</strong>: {{.Telephone}}<br>
                        <strong>Address</strong>: {{.Address}}
                    </p>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <form method="post" action="/logout" class="mr-3">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>

            <a href="/edit" class="btn btn-info">Edit</a>
        </div>
    </div>
</div>
</body>
</html>